---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- Currently Reading and Listening - inline with last paragraph -->
    {% assign reading_data = site.data.goodreads_reading %}
    {% assign lastfm_data = site.data.lastfm %}
    {% if reading_data and (reading_data.current_book or reading_data.last_read_book) and lastfm_data and lastfm_data.artist %}
      <script>
        (function() {
          const contentDiv = document.querySelector('.clearfix');
          if (contentDiv) {
            const paragraphs = contentDiv.querySelectorAll('p');
            if (paragraphs.length > 0) {
              const lastParagraph = paragraphs[paragraphs.length - 1];
              
              // Book data
              {% if reading_data.current_book %}
                const bookUrl = {{ reading_data.current_book.url | jsonify }};
                const bookTitle = {{ reading_data.current_book.title | jsonify }};
                const bookAuthor = {% if reading_data.current_book.author %}{{ reading_data.current_book.author | jsonify }}{% else %}null{% endif %};
                let readingText = ' I am currently reading <a href="' + bookUrl + '" target="_blank" rel="external nofollow noopener">' + bookTitle + '</a>';
                if (bookAuthor) {
                  readingText += ' by ' + bookAuthor;
                }
              {% elsif reading_data.last_read_book %}
                const bookUrl = {{ reading_data.last_read_book.url | jsonify }};
                const bookTitle = {{ reading_data.last_read_book.title | jsonify }};
                const bookAuthor = {% if reading_data.last_read_book.author %}{{ reading_data.last_read_book.author | jsonify }}{% else %}null{% endif %};
                let readingText = ' I last read <a href="' + bookUrl + '" target="_blank" rel="external nofollow noopener">' + bookTitle + '</a>';
                if (bookAuthor) {
                  readingText += ' by ' + bookAuthor;
                }
              {% endif %}
              
              // Last.fm data
              const artistName = {{ lastfm_data.artist | jsonify }};
              const artistUrl = {{ lastfm_data.url | jsonify }};
              const listeningText = ' and listening to <a href="' + artistUrl + '" target="_blank" rel="external nofollow noopener">' + artistName + '</a>';
              
              lastParagraph.innerHTML += ' ' + readingText + listeningText + '.';
            }
          }
        })();
      </script>
    {% elsif reading_data and (reading_data.current_book or reading_data.last_read_book) %}
      <script>
        (function() {
          const contentDiv = document.querySelector('.clearfix');
          if (contentDiv) {
            const paragraphs = contentDiv.querySelectorAll('p');
            if (paragraphs.length > 0) {
              const lastParagraph = paragraphs[paragraphs.length - 1];
              {% if reading_data.current_book %}
                const bookUrl = {{ reading_data.current_book.url | jsonify }};
                const bookTitle = {{ reading_data.current_book.title | jsonify }};
                const bookAuthor = {% if reading_data.current_book.author %}{{ reading_data.current_book.author | jsonify }}{% else %}null{% endif %};
                let readingText = ' I am currently reading <a href="' + bookUrl + '" target="_blank" rel="external nofollow noopener">' + bookTitle + '</a>';
                if (bookAuthor) {
                  readingText += ' by ' + bookAuthor;
                }
                readingText += '.';
                lastParagraph.innerHTML += ' ' + readingText;
              {% elsif reading_data.last_read_book %}
                const bookUrl = {{ reading_data.last_read_book.url | jsonify }};
                const bookTitle = {{ reading_data.last_read_book.title | jsonify }};
                const bookAuthor = {% if reading_data.last_read_book.author %}{{ reading_data.last_read_book.author | jsonify }}{% else %}null{% endif %};
                let readingText = ' I last read <a href="' + bookUrl + '" target="_blank" rel="external nofollow noopener">' + bookTitle + '</a>';
                if (bookAuthor) {
                  readingText += ' by ' + bookAuthor;
                }
                readingText += '.';
                lastParagraph.innerHTML += ' ' + readingText;
              {% endif %}
            }
          }
        })();
      </script>
    {% endif %}

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
